fastapi==0.115.0
uvicorn[standard]==0.30.6
SQLAlchemy[aiomysql]==2.0.36
pydantic==2.9.2
pydantic-settings==2.6.1
aiomysql==0.2.0
alembic==1.13.3
celery==5.4.0
redis==5.0.8
email-validator==2.2.0
python-dotenv==1.0.1
cryptography>=42.0.0

